body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
    width: 100%;
    height: 100%;
    font-family: Arial;
    display: flex;
}

.header {
    position: fixed;
    /* border: 1px solid green; */
    background-image: url(img/menu-logo.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position-x: 14px;
    background-position-y: 17px;
    background-color: #0178d7;
    padding: 10px;
    width: 99%;
    height: 4%;
}

.header p {
    font-size: 16px;
    color: white;
    display: inline-block;
    margin: 4px 0px 0px 42px;
    cursor: pointer;
}

.header input {
    margin-left: 29%;
    border: none;
    font-size: 14px;
    background-image: url(img/search-icon.png);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position-x: 7px;
    background-position-y: 7px;
    background-color: #c4dcf7;
    outline: none;
    padding-left: 37px;
    /* padding: 10px 0px 10px 30px; */
    height: 34px;
    border-radius: 3px;
    width: 400px;
    cursor: pointer;
}

.header .settings-icon {
    color: white;
    font-size: 20px;
    float: right;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.sidenav {
    width: 3.2%;
    height: 92%;
    position: fixed;
    /* border: 1px solid black; */
    top: 52px;
    left: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    padding-top: 14px;
    transition: 0.2s;
}

.sidenav ul {
    list-style-type: none;
    position: relative;
}

.sidenav .taskicon {
    display: inline-block;
    margin: 0px 0px 0px -22px;
    padding: 8px 0px 8px 0px;
    font-size: 17px;
    color: #56554f;
    cursor: pointer;
}

.sidenav .sidenav-item {
    display: none;
    color: #56554f;
    font-size: 15px;
    margin: 0px 0px 0px 16px;
    cursor: pointer;
}

.sidenav .black-text:focus {
    color: #42484a;
    font-weight: bold;
}

.sidenav .blue-text:focus {
    color: #0178d7;
    font-weight: bold;
}

.sidenav .green-text:focus {
    color: #82ad59;
    font-weight: bold;
}

.sidenav input {
    margin: 4px 0px 0px 0px;
    font-size: 15px;
    padding: 10px 0px 10px 50px;
    background-image: url("img/plus-icon.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 12px;
    background-position-y: 8px;
    border-style: none;
    background-color: #f4f4f4;
    outline: none;
    cursor: pointer;
}

::placeholder {
    color: #0178d7; 
}

input:focus::placeholder {
    color: #56554f;
}

.grey-icon {
   color: #56554f;
}

.green-icon {
   color: #82ad59;
}

.blue-icon {
  color: #0178d7;
}

.sidenav-list {
    display: inline-block;
    margin: 0px 0px 0px -22px;
    padding: 8px 0px 8px 0px;
    font-size: 17px;
    color: #0178d7;
    cursor: pointer;
}

.sidenav #navigator {
    padding: 20px 0px 0px 16px;
    font-size: 20px;
    color: #56554f;
    cursor: pointer;
}

.sidenav .text:hover, .sidenav #navigator:hover, .sidenav input:hover, .header input:hover{
    background-color: white;
}

.todo-list {
    width: 100%;
    height: 93%;
    margin-top: 51px;
    margin-left: 47px;
   /* border: 1px solid #bd154e;*/
}

.todo-list p {
    /*border: 1px solid black;*/
    margin: 25px 0px 15px 20px;
    color: #0178d7;
    font-size: 20px;
}

.todo-content {
    /*border: 1px groove red;*/
    overflow-y: auto;
    height: 91%;
    width: 100%;
}

.subtask-icon {
    color: #0178d7;
    font-size: 20px;
    display: inline-block;
    margin: 15px 0px 15px 2px;
}

.subtask-text {
    color: #0178d7;
    display: inline-block;
    font-size: 15px;
    margin: 10px 0px 10px 13px;
    padding: 4px 0px 0px 0px;
}

#subtask-input {
    outline: none;
    border-style: none;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}

.input-container {
    display: flex;
    width: 96%;
    border-bottom: 1px solid #e0dede;
    margin: 0px 0px 0px 18px;
}

/* subtask container has to hover */
.subtask-container {
    display: flex;
    width: 96%;
    border-bottom: 1px solid #e0dede;
    margin: 0px 0px 0px 18px;
    cursor: pointer;
}

.subtask-container:hover {
    background-color:#ededed;
}

.right-sidenav {
    /*border: 1px solid green;*/
    width: 23%;
    height: 93%;
    background-color: #f5f5f5;
    margin-top: 51px;
    display: none;
}

.steps-header {
    border: 1px solid #e0dede;
    margin: 10px;
    background-color: white;
}

.right-sidenav #new-steps {
    margin: 8px 0px 0px 0px;
    font-size: 15px;
    padding: 10px 0px 10px 50px;
    background-image: url(img/plus-icon.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 12px;
    background-position-y: 8px;
    border-style: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.right-sidenav .addToMyDay {
    border: 1px solid #e0dede;
    margin: 10px;
    height: 6.5%;
    background-color: white;
}

.right-sidenav .addToMyDay .sunIcon {
    display: inline-block;
    /* margin: 0px 0px 0px -22px; */
    padding: 17px 14px 17px 15px;
    font-size: 15px;
    color: #56554f;
    cursor: pointer;
}

.right-sidenav .addToMyDay .myDayText {
    display: inline-block;
    font-size: 15px;
    color: #56554f;
}

.right-sidenav .dateTasks {
    border: 1px solid #e0dede;
    margin: 10px;
    height: 20%;
    background-color: white;
}

.right-sidenav .dateTasks .outerDiv {
    display: flex;
    height: 33%;
}

.right-sidenav .dateTasks .dateTaskIcons {
    padding: 20px 16px 0px 16px;
    font-size: 16px;
    cursor: pointer;
}

.right-sidenav .dateTasks .dateTaskText {
    color: #56554f;
    font-size: 15px;
    line-height: 56px;
    height: 100%;
    border-bottom: 1px solid rgba(233,233,233, 0.8);
    width: 294px;
    vertical-align: middle;
}

.right-sidenav .notes {
    border: 1px solid #e0dede;
    margin: 10px;
    background-color: white;
}

.right-sidenav #input-notes {
    font-size: 15px;
    font-family: arial;
    padding: 14px 0px 0px 15px;
    border-style: none;
    height: 12%;
    width: 100%;
    outline: none;
    cursor: pointer;
    resize: none;
}

.right-sidenav .bottomDiv {
    border: 1px solid #e0dede;
    margin: 222px 0px 0px 0px;
    display: flex;
}

.right-sidenav .bottomDiv #arrow {
    margin: 8px 8px 8px 18px;
    font-size: 18px;
}

.right-sidenav .bottomDiv .bottomText {
    margin: 13px 117px 0px 80px;
    color: #56554f;
    font-size: 11px;
}

.right-sidenav .bottomDiv .trash {
    margin: 8px;
    font-size: 19px;
}

.steps-container {
    display: flex;
    width: 90%;
    margin: 0px 0px 0px 18px;
    cursor: pointer;
}
