<div class="right-sidenav" id="toggle-right" *ngIf="rightSideToggleStatus">
    <div class="steps-header">

        <div class="stepsHeading-container">
             <div class="dynamic-subtask-icon" [ngClass]="activeSubtask.checked ? 'dynamic-unchecked-subtask-icon' : 'dynamic-subtask-icon'" (click)=checkedSubtask()>
                 
             </div>
             <div class="subtask-text" [ngClass]="activeSubtask.checked ? 'text-linethrough' : 'subtask-text'">
                 {{activeSubtask.subtaskName}}
             </div>
        </div>
     </div>
     <div class="right-scroll">
        <div id="list-of-steps">
            <div *ngFor="let step of activeSubtask.steps">
                <div class="steps-container">
                        <div class="dynamic-subtask-icon">

                        </div>
                        <div class="subtask-text">
                            {{step.stepName}}
                        </div>
                </div>
           </div>
        </div>
        <input #stepInput id="new-steps" type="text" placeholder="Add step" (keyup.enter) = createStep(stepInput)/>


        <div class="addToMyDay">
            <div class="sunIcon"> </div>
            <div class="myDayText">Add to My Day</div>
        </div>


         <div class="dateTasks">
             <div class="outerDiv">
                 <div class="remindIcon"> </div>
                 <div class="dateTaskText">Remind me</div>
             </div>
             <div class="outerDiv">
                 <div class="calenderIcon"> </div>
                 <div class="dateTaskText">Add due date</div>
             </div>
             <div class="outerDiv">
                 <div class="repeatIcon"> </div>
                 <div class="dateTaskText">Repeat</div>
             </div>
         </div>

         <div class="addToMyDay">
             <div class="paperclipIcon"> </div>
             <div class="myDayText">Add file</div>
         </div>

         <div class="notes">
             <textarea rows="2" cols="25" id="input-notes" type="text" placeholder="Add note" ></textarea>
         </div>
     </div>

    <div class="bottomDiv">
       <div id="arrow"> </div>
       <div class="bottomText">Created Today</div>
       <div class="trash" id="trashSubtask"> </div>
    </div>

 </div>